.wrap{
  text-align: center;
}
.content{
  text-align: left;
  display: inline-block;
}
p1{
    font-size: 25px;
}
div{
  margin-top: 10px;
}
p{
  color: red;
  font-size: 11px;
}
input{
  border-radius: 4px;
}
#addButton, #saveButton{
  scale: 1.2;
   max-width: 120px;
  background-color: green;
  color: white;
  border-radius: 4px;
  border-color: green;
  margin: 10px;
}
#cancelButton{
  scale: 1.2;
   max-width: 120px;
  background-color: red;
  color: white;
  border-radius: 4px;
  border-color: red;
  margin: 10px;
}
#add_button{
  margin-bottom: 5px;
  border: none;
  color: green;
  background-color: lightgrey;
}
#del_button{
  margin-bottom: 5px;
  border: none;
  color: red;
  background-color: lightgrey;
}
label{
  margin-right:  5px;
  margin-left: 10px;
}