#pages{
  color: white;
}
#wrap{
  margin-top: 25px;
  text-align: center;
}
.filter {
    max-width: 80px;
    margin: 2px;
}
label{
    color: white;

}
#filter{
   max-width: 120px;
  color: white;
  border-radius: 4px;
  border-color: rgb(100,255,102);
  background-color: rgb(50,105,22);
  margin: 7px;
}
button{
  background-color: rgb(40,85,22);
  padding-inline: 2px;
  color: white;
  border-radius: 4px;
}