body{
  align-content: center;
  text-align: center;
}
.top_nav {
  background-color: green;
  overflow: hidden;
  margin-bottom: 15px;
   height: 40px;
}

.top_nav a {
  color: #f2f2f2;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

.link_left{
  text-align: left;
  float: left;
}
.link_right{
  text-align: right;
  float: right;
}
.top_nav a:hover {
  background-color: #ddd;
  color: black;
}
#welcome{
    font-size: 35px;
    color: green;
}
.invertTable, th, td{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  padding-block: 2px;
  padding-inline: 10px;
  text-align: center;
  font-size: 18px;
}
#table1{
  margin-top: 20px;
}
label{
  font-weight: bold;
}
