body{
  align-content: center;
  text-align: center;
}
#welcome{
    font-size: 35px;
    color: white;
}
a:hover{
  color: black;
}
a{
  color: white;
}
#table1{
  margin-top: 20px;
}
label{
  font-weight: bold;
  color: rgb(155,255,168);
  font-size: 17px
}
