.top_nav {
  background-color: green;
  overflow: hidden;
  margin-bottom: 15px;
 height: 40px;
}

.top_nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}
.top_nav a:hover {
  background-color: #ddd;
  color: black;
}
.link_left{
  text-align: left;
  float: left;
}
.link_right{
  text-align: right;
  float: right;
}

.wrap{
  text-align: center;
}
.content{
  text-align: left;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
}
.main, .details{
  border: 2px solid;
   margin: 10px;
   padding: 10px;
   border-radius: 8px;
   border-color: rgb(39 103 35);
   font-size: 19px;
}
.main{
  float: left;
  padding-inline: 20px;
}
.details{
  float: right;
  padding-inline: 20px;
}
label{
  font-weight: bold;
  margin-right: 5px
}
div{
   margin-top: 5px;
   margin-bottom: 5px;
}
.instars_table, th, td{
    border: 1px solid black;
    margin-bottom: 25px;
    border: 1px solid black;
    border-collapse: collapse;
    padding-block: 2px;
    padding-inline: 9px;
   text-align: center;
}
#table{
  margin-top: 10px;
}

#edit_button{
  color: blue;
}
#delete_button{
  color: red;
}
#gallery{
  color: green;
}
.main_photo{
  width:  220px;
  border-radius: 4px;

}
#buttons{
  margin-top: 20px;
  margin-top: 20px;
}
.photo{
  max-width:  280px;
  max-height: 280px;
  border-radius: 4px;
  margin-inline: 10px;
}
#p_gallery{
  margin-top: 15px;
  font-size:  25px;
  color: blue;
  font-weight: bold;
}
#details_table{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: solid 1px green;
}
#details_table th, td{
  text-align: left;
  border-top: 1px solid green;
  padding-inline: 10px;
  padding-block: 5px;
}
