.wrap{
  text-align: center;
}
.content{
  text-align: left;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
}
.main, .details{
  border: 2px solid;
   margin: 10px;
   padding: 10px;
   border-radius: 8px;
   border-color: rgb(39 83 25);
   font-size: 19px;
  color: white;

}
.main{
  float: left;
  padding-inline: 20px;
}
.details{
  float: right;
  padding-inline: 20px;
}
label{
  font-weight: bold;
  margin-right: 5px
}
.instars_table, .instar_col{
    margin-left: 0px;
}
#table{
  margin-top: 10px;
}

#edit_button{
  color: blue;
}
#delete_button{
  color: red;
}
#alive_button{
  color: magenta;
}
#death_button, #edit_button, #delete_button, #alive_button{
   background-color: white;
   border-radius: 4px;
}
#death_button:hover, #edit_button:hover, #delete_button:hover, #alive_button:hover{
   border-color: black;
}
.main_photo{
  width:  220px;
  border-radius: 4px;

}
#buttons{
  margin-top: 20px;
  margin-top: 20px;
}
.photo{
  max-width:  280px;
  max-height: 280px;
  border-radius: 4px;
  margin-inline: 10px;
}
#p_gallery{
  margin-top: 15px;
  font-size:  25px;
  color: rgb(154,255,154);
  font-weight: bold;
}
.details_col{
  text-align: left;
}
