body {
  align-content: center;
  margin-top: 10px;
}
div{
  text-align: center;
  margin-top:  10px;
}

table.invertTable{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}

.invertTable td, .invertTable th{
  padding-inline: 5px;
  border: 1px solid black;
  padding-block: 2px;
}

span1{
  font-size: 20px;
  margin-bottom: 10px;
}

#addPet{
  scale: 1.2;
  max-width: 120px;
  align-self: center;
  background-color: green;
  color: white;
  border-radius: 4px;
  border-color: green;
}