body {
  align-content: center;
  margin-top: 80px;
}
div{
  text-align: center;
  margin-top:  10px;
}
p1{
    font-size: 20px;
    color: white;
}
p{
  color: black;
  font-size: 12px;
}
input{
  border-radius: 4px;
}
button{

   max-width: 120px;
  align-self: center;
  border-color: rgb(100,255,102);
    background-color: rgb(50,105,22);
  color: white;
  border-radius: 4px;
}
#info_register {
    color: black;
    font-size: 15px;
    font-weight: bold;
}