<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activation</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/activation.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/activation.js}"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <div id="wrap" class="wrap">
        <div class="content">
            <div th:if="${#strings.contains(message, 'User account')}">
                <div>
                    <p class="info" th:text="${message}"></p>
                </div>
                <div>
                    <a href="/login">Login</a>
                </div>
            </div>
            <div th:if="${#strings.contains(message, 'Token expired')}">
                <div>
                    <p class="error" th:text="${message}"></p>
                </div>
                <div>
                    <p id="email_info">Enter email to resend activation link</p>
                </div>
                <div>
                    <input id="email" type="email" placeholder="Email">
                </div>
                <div>
                    <button type="button" onclick="valid()">Resend</button>
                </div>
                <div>
                    <p id="p_email"></p>
                </div>
            </div>
            <div th:if="${#strings.contains(message, 'Bad link')}">
                <div>
                    <p class="error" th:text="${message}"></p>
                </div>
                <div>
                    <a href="/">Home page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>