<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inverts Keeper - Homepage</title>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body>
    <div class="top_nav">
        <a class="link_left" href="/">Home</a>
        <a class="link_left" href="/myInverts">My Inverts</a>
        <span th:if="${user == null}">
            <a class="link_right" href="/register">Register</a>
            <a class="link_right" href="/login">Login</a>
        </span>
        <span th:unless="${user == null}">
            <a class="link_right" href="/logout">Logout</a>
            <a class="link_right" href="/profile">Profile</a>
        </span>
    </div>
    <div><h1>Welcome in Inverts Keeper</h1></div>
</body>
</html>