<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${invert.getName() + ' Details'}"></title>
    <link th:href="@{/css/invertDetails.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/myInverts.js}"></script>
    <script src="https://kit.fontawesome.com/5788f7a270.js" crossorigin="anonymous"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <div class="top_nav">
        <a class="link_left" href="/">Home</a>
        <a class="link_left" href="/myInverts">My Inverts</a>
        <form id="logout_form" class="link_right" th:action="@{/logout}" method="post">
            <a class="link_right"
               href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">Log Out</a>
        </form>
        <a class="link_right" href="/profile">Profile</a>
    </div>
    <div class="wrap">
        <div class="content">
            <div class="main">
                <div>
                    <label for="name">Name: </label>
                    <span id="name" th:text="${invert.getName()}"></span>
                </div>
                <div th:if="${invert.getAvatar()==null}">
                    <img class="main_photo" src="https://res.cloudinary.com/mmaruszak/image/upload/v1617744509/no-image-icon-23492_y3c5us.png">
                </div>
                <div th:unless="${invert.getAvatar()==null}">
                    <a th:href="${invert.getAvatar().getLink()}">
                        <img class="main_photo" th:src="${invert.getAvatar().getLink()}">
                    </a>
                </div>
                <div>
                    <label for="acquired">Bought: </label>
                    <span id="acquired" th:text="${invert.getAcquired()} ?: 'N/A'"></span>
                </div>
                <div id="buttons" th:if="${userId==invert.getUser().getId()}">
                    <button id="edit_button" title="Edit" th:onclick="javascript:edit(/*[[${invert.getId()}]]*/)">
                        <i class="fas fa-edit"></i></button>
                    <button id="delete_button" title="Delete" th:onclick="javascript:remove(/*[[${invert.getId()}]]*/)">
                        <i class="fas fa-trash-alt"></i></button>
                    <span th:if="${invert.isAlive()}"><button id="death_button" title="Mark as dead" th:onclick="javascript:markDead(/*[[${invert.getId()}]]*/)">
                        <i class="fas fa-skull"></i></button></span>
                </div>
            </div>
            <div class="details">
                <table id="details_table">
                    <tbody>
                    <tr>
                        <th class="details_col">Specie:</th>
                        <td class="details_col" th:text="${invert.getSpecie().getName()}"> </td>
                    </tr>
                    <tr>
                        <th class="details_col">Sex:</th>
                        <td class="details_col" th:text="${invert.getSex().getName()}"></td>
                    </tr>
                    <tr>
                        <th class="details_col">Date of Birth:</th>
                        <td class="details_col" th:text="${invert.getBirth()} ?: 'N/A'"></td>
                    </tr>
                    <tr th:if="${invert.getDeath() != null}">
                        <th class="details_col">Date of Death:</th>
                        <td class="details_col" th:text="${invert.getDeath()}"></td>
                    </tr>
                    <tr>
                        <th class="details_col">Last Instar:</th>
                        <td class="details_col" th:text="${invert.getInstars()[#lists.size(invert.getInstars())-1].getL()} ?: 'N/A'"></td>
                    </tr>
                    <tr>
                        <th class="details_col">Date of Last Instar:</th>
                        <td class="details_col" th:text="${invert.getInstars()[#lists.size(invert.getInstars())-1].getMoltDate()} ?: 'N/A'"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="table">
                    <label for="table">Instars:</label>
                <div>
                    <table class="instars_table">
                        <thead>
                        <tr>
                            <th class="instar_col">L</th>
                            <th class="instar_col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "instar : ${invert.getInstars()}">
                            <td class="instar_col"><span th:text="${instar.getL()}"></span></td>
                            <td class="instar_col"><span th:text="${instar.getMoltDate()} ?: 'N/A'"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div id="photos">
            <p id="p_gallery">Gallery</p>
            <span th:each="photo : ${invert.getPhotos()}">
                <a th:href="${photo.getLink()}">
                    <img class="photo" th:src="${photo.getLink()}">
                </a>
            </span>
        </div>
    </div>
</body>
</html>