<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <title>Login</title>
</head>
<body>
<div class="top_nav">
    <a class="link_left" href="/">Home</a>
</div>
<div id="wrap">
    <div>
        <p1>Login</p1>
    </div>
    <div>
        <p id="info_login" class="info"></p>
    </div>
    <div>
        <input id="username" type="text" required placeholder="username"/>
        <div>
            <p class="info" id="p_username"></p>
        </div>
    </div>
    <div>
        <input id="password" type="password" required placeholder="password"/>
        <div>
            <p class="info" id="p_password"></p>
        </div>
    </div>
    <div>
        <button id="login" type="submit" onclick="validation()">Login</button>
    </div>
    <div class="link">
        <a href="/register">Register</a>
    </div>
    <div class="link">
        <button id="forgotten_pass" type="button" onclick="showFields()">Forgot password?</button>
    </div>
</div>
</body>
</html>