<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mark as Dead</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/markDead.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/markDead.js}"></script>
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div>
                <label for="date">Date of death:</label>
                <input id="date" type="date">
                <script type="text/javascript">
                    document.getElementById("date").valueAsDate = new Date();
                 </script>
            </div>

        </div>
        <div>
            <input type="button" id="markButton" value="Save" th:onclick="javascript:markDead(/*[[${id}]]*/)"/>
            <input type="button" id="cancelButton" onclick="" value="Cancel"/>
            <script type="text/javascript">
                document.getElementById("cancelButton").onclick = function () {
                location.href = window.location.origin + "/myInverts/";
                };
            </script>
        </div>
    </div>
</body>
</html>