<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/myInverts.css}" rel="stylesheet"/>
    <title>My Inverts</title>
</head>
<body>
    <div>
        <span1 id="user_name" th:text="${'Welcome ' + user.getUsername()}"></span1>
    </div>
    <div th:if="${user.getInvertebratesList().empty}">
        <p>You don't have any pets added</p>
    </div>
    <div th:unless ="${user.getInvertebratesList().empty}">
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Specie</th>
                <th>Name</th>
                <th>Birth</th>
                <th>Sex</th>
                <th>Instar</th>
                <th>Acquired</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "invert : ${user.getInvertebratesList()}">
                <td><span th:text="${invert.class.simpleName}"></span></td>
                <td><span th:text="${invert.getSpecie().getName()}"></span></td>
                <td><span th:text="${invert.getName()}"></span></td>
                <td><span th:text="${invert.getBirth()}"></span></td>
                <td><span th:text="${invert.getSex()}"></span></td>
                <td><span th:text="${invert.getInstars()[#lists.size(invert.getInstars())-1].getL()}"></span></td>
                <td><span th:text="${invert.getAcquired()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button id="addPet" class="float-left submit-button" >Add Invert</button>
        <script type="text/javascript">
            document.getElementById("addPet").onclick = function () {

            location.href = window.location.origin + "/myInverts/addInvert";
            };
        </script>
    </div>
</body>
</html>