<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/myInverts.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/myInverts.js}"></script>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/5788f7a270.js" crossorigin="anonymous"></script>
    <title>My Inverts</title>
</head>
<body>
    <div class="top_nav">
        <a class="link_left" href="/">Home</a>
        <a class="link_left" href="/myInverts/dead">My Dead Inverts</a>
        <a class="link_left" href="/allInverts">All Inverts</a>
        <form id="logout_form" class="link_right" th:action="@{/logout}" method="post">
            <a class="link_right"
               href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">Log Out</a>
        </form>
        <a class="link_right" href="/profile">Profile</a>
        <a class="link_right" href="/contact">Contact</a>
    </div>
    <div id="par">
        <span th:text="${user.getUsername()} + '\'s Inverts'"></span>
    </div>
    <div th:if="${user.getInvertebratesList().empty}">
        <p>You don't have any inverts added</p>
    </div>
    <div th:unless="${user.getInvertebratesList().empty}">
        <table class="invertTable">
            <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Specie</th>
                <th>Birth</th>
                <th>Sex</th>
                <th>Instar</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "invert : ${user.getInvertebratesList()}">
                <td><span th:text="${invert.getInsectType()}"></span></td>
                <td><a th:href="'/invert/details/'+${invert.getId()}" th:text="${invert.getName()}"></a></td>
                <td><span th:text="${invert.getSpecie().getName()}"></span></td>
                <td><span th:text="${#temporals.format(invert.getBirth() , 'dd-MM-yyyy')} ?: 'N/A'"></span></td>
                <td><span th:text="${invert.getSex()}"></span></td>
                <td><span th:text="${invert.getLastInstar()}"></span></td>
                <td><button id="edit" th:onclick="javascript:edit(/*[[${invert.getId()}]]*/)">
                    <i class="fas fa-edit"></i></button>
                    <button id="delete" th:onclick="javascript:remove(/*[[${invert.getId()}]]*/)">
                        <i class="fas fa-trash-alt"></i></button>
                    <button id="death" th:onclick="javascript:markDead(/*[[${invert.getId()}]]*/)">
                        <i class="fas fa-skull"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id = "add_button">
        <button id="addPet" class="float-left submit-button" >Add Invert</button>
        <script type="text/javascript">
            document.getElementById("addPet").onclick = function () {
            location.href = window.location.origin + "/myInverts/addInvert";
            };
        </script>
    </div>
</body>
</html>