<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Message</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/message.css}" rel="stylesheet"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/newMessage.js}"></script>
</head>
<body>
<div class="top_nav">
    <a class="link_left" href="/">Home</a>
    <a class="link_left" href="/myInverts/dead">My Dead Inverts</a>
    <a class="link_left" href="/allInverts">All Inverts</a>
    <form id="logout_form" class="link_right" th:action="@{/logout}" method="post">
        <a class="link_right"
           href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">Log Out</a>
    </form>
    <a class="link_right" href="/profile">Profile</a>
    <div class="message_wrap">
        <a id="message_link" class="link_right" href="/message/inbox">Messages</a>
        <div class="notification_dot" th:if="${newMessages!=null && #lists.size(newMessages)>0}"
             th:text="${#lists.size(newMessages)}"></div>
    </div>
    <a class="link_right" href="/contact">Contact</a>
</div>
<div id="wrap">
    <div id="content">
        <div>
            <p id="main_p">New Message</p>
        </div>
        <div>
            <input type="text" readonly th:value="${receiverName}">
        </div>
        <div>
            <p id="info_subject"></p>
        </div>
        <div>
            <input id="subject" type="text" th:value="${subject}" placeholder="Subject">
        </div>
        <div>
            <p id="info_text"></p>
        </div>
        <div>
            <textarea id="text" maxlength="500" rows="8" cols="60" placeholder="Message"></textarea>
        </div>

        <div>
            <button id="send" th:onclick="javascript:validate(/*[[${receiverId}]]*/)">Send</button>
        </div>
    </div>
</div>
</body>
</html>