<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Register</title>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
<body>
    <div>
        <p1>Sign Up</p1>
    </div>
    <div>
        <input id="username" type="text" required placeholder="username"/>
        <div1>
            <p id="p_username"></p>
        </div1>
    </div>
    <div>
        <input id="email" type="email" required placeholder="email"/>
        <div1>
            <p id="p_email"></p>
        </div1>

    </div>
    <div>
        <input id="password" type="password" placeholder="password"/>
        <div1>
            <p id="p_password"></p>
        </div1>

    </div>
    <div>
        <button id="register" type="submit" onclick="validation()">Submit</button>
    </div>
</body>
</html>