<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/resetPassword.js}"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div id="wrap">
    <div th:if="${message!=null}">
        <p th:text="${message}"></p>
    </div>
    <div th:unless="${message!=null}">
        <div>
            <input  id="pass1" class="input" type="password" placeholder="New Password">
        </div>
        <div>
            <input id="pass2" class="input" type="password" placeholder="Repeat Password">
        </div>
        <div>
            <p id="p_pass"></p>
        </div>
        <div>
            <button id="reset" onclick="valid()">Reset</button>
        </div>
        <input id="token" type="hidden" th:value="${token}">
    </div>
</div>
</body>
</html>



