<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()} + ' Profile'"></title>
    <link th:href="@{/css/userProfile.css}" rel="stylesheet"/>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/userProfile.js}"></script>
    <script src="https://kit.fontawesome.com/5788f7a270.js" crossorigin="anonymous"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <div class="top_nav">
    <a class="link_left" href="/">Home</a>
    <a class="link_left" href="/myInverts">My Inverts</a>
      <a class="link_left" href="/allInverts">All Inverts</a>
      <form id="logout_form" class="link_right" th:action="@{/logout}" method="post">
          <a class="link_right"
             href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">Log Out</a>
      </form>
      <span th:if="${id!=user.getId()}">
          <a class="link_right" href="/profile">Profile</a>
      </span>
      <a class="link_right" href="/contact">Contact</a>
  </div>
  <div>
    <div id="wrap" class="wrap">
        <div id ="user_name" th:text="${user.getUsername()}"></div>
      <div class="content">
          <table>
              <tbody>
                <tr>
                    <th class="col">Email:</th>
                    <td th:if="${id==user.getId()}"  th:text="${user.getEmail()}"></td>
                    <td th:unless="${id==user.getId()}" th:text="private"></td>
                </tr>
                <tr>
                    <th class="col">Number of Invertebrates:</th>
                    <td th:text="${#lists.size(user.getInvertebratesList())}"></td>
                </tr>
              </tbody>
          </table>
      </div>
        <div id="links" th:if="${id==user.getId()}">
            <div>
                <input type="button" id="pass_button" class="button_as_link" value="Change Password" th:onclick="showPassFields()"/>
            </div>
            <div>
                <input type="button" id="delete_account" class="button_as_link" value="Delete Account" th:onclick="deleteAcc()"/>
            </div>
        </div>
    </div>
  </div>
</body>
</html>